%body
  .wrapper
    .usergroup
      = render partial: "groups/user"
      .group_contents
        = render partial: "groups/group", collection: @groups
    .chat
      = render partial: "chat-header"
      .chat-contents
        = render partial: "chat-contents"
      .chat-footer
        = form_for([@group,@message]) do |f|
          %ul
            %li.message
              = f.text_field :content, class:'chat-footer__message-form', placeholder:' type a message'
            %li
              %p.chat-footer__picture
                = f.file_field :image, class:'chat-footer__image-hidden'
                = f.label :image do
                  %i.fa.fa-image
            %li
              = f.submit "Send", class:'chat-footer__send'
